<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-md-12 mmc-header">
            <h1>
                {{title}}
            </h1>
            <p class="lead">Tu servicio MotherFoca para no gastar tu sueldo demasiado despacio</p>
        </div>
        <div class="col-md-12 mmc-body">
            <div class="container">
                <div *ngIf="user.loggedIn" class="text-right">
                    <button class="btn btn-link" (click)="logout()">Cerrar sesión y destruir mi rastro</button>
                </div>
                <div *ngIf="!user.loggedIn" class="text-center">
                    <h4>¿Quiéres crear tu solicitud o ver las de los demás?</h4>
                    <p>
                        <button type="button" class="btn btn-primary" (click)="loginModal.show()">Inicia sesión</button>
                    </p>
                    <p>Si aún no tienes una cuenta, busca la manera de
                        <a href="https://www.getpostman.com/" title="Postman" target="_blank">crearte una</a>.</p>
                </div>
            </div>
            <div *ngIf="user.loggedIn">
                <app-purchases [user]="user">
                </app-purchases>
            </div>
        </div>
    </div>
</div>

<div bsModal #loginModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left text-primary">Iniciar sesión</h4>
                <button type="button" class="close pull-right" (click)="loginModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <alert *ngIf="alert" type="danger">
                    Nice try idiot!
                </alert>
                <form class="form">
                    <div class="form-group">
                        <label for="username">
                            <strong>Usuario</strong>
                        </label>
                        <input type="text" class="form-control form-control-sm" id="username" name="username" placeholder="Nombre de usuario" [(ngModel)]="user.username">
                    </div>
                    <div class="form-group">
                        <label for="password">
                            <strong>Contraseña</strong>
                        </label>
                        <input type="password" class="form-control form-control-sm" id="password" name="password" aria-describedby="password-help"
                            placeholder="**********" [(ngModel)]="user.password">
                        <small id="password-help" class="form-text text-muted text-justify">Si has olvidado tu contraseña, pagas el dominio motherfoca del próximo año.</small>
                    </div>
                </form>
                <div class="text-right">
                    <button type="submit" class="btn btn-success btn-sm" style="width: 100%" (click)="login()">Go!</button>
                </div>
            </div>
        </div>
    </div>
</div>